@font-face {
    font-family: 'LemonMilk';
    src: url('/fonts/LEMONMILK-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LemonMilkBold';
    src: url('/fonts/LEMONMILK-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TheSeries';
    src: url('/fonts/The Series.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AthelasRegular';
    src: url('/fonts/Athelas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AthelasBold';
    src: url('/fonts/Athelas-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body{
    margin: 0;
}